<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="John Weaver">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "site.css" %>
  <%= javascript_include_tag('lib/modernizr-2.0.6.min') %>
  <%= yield_content :head %>
</head>
  
<body class="<%= page_classes %>">
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">jsGA</a></h3>
          <ul class="nav">
            <li><a href="#">Current Generation</a></li>
            <li><a href="#create">Create New Population</a></li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>
  <div id="container" class="container">
    <header>

    </header>
    <div id="content" class="row">
      <div id="main" role="main" class="content span-two-thirds">
        <%= yield %>
      </div>
      <div id="side" role="complementary" class="sidebar span-one-third">
      </div>
    </div>
    <footer>
     <span>Copyright &copy; 2012 John Weaver. All Rights Reserved</span>
    </footer>
  </div> <!--! end of #container -->
    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/lib/jquery.js"><\/script>')</script>
  <script>
    window._gaq = [['_setAccount','UA-6365132-6'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
