<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="John Weaver">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag('lib/modernizr-2.0.6.min') %>
  <%= yield_content :head %>
</head>
  
<body class="<%= page_classes %>">
  <a href="https://github.com/saebyn/jsga"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="navbar navbar-fixed-top" style="display: none;">
    <div class="navbar-inner">
      <div class="container">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a href="#" class="brand">jsGA</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#">Current Generation</a></li>
            <li><a href="#past">Past Generations</a></li>
            <li><a href="#statistics">Statistics</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="#create"><strong>Create New Population</strong></a></li>
            <li class="divider-vertical"></li>
            <li><a target="_blank" href="/testrunner.html">Test Cases</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#help">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div id="container" class="container">
    <header>

    </header>
    <div id="content" class="row">
      <div id="main" role="main" class="content span8">
        <%= yield %>
      </div>
      <div id="side" role="complementary" class="sidebar span4">
      </div>
    </div>
    <footer>
    <span>Copyright &copy; 2012 <a href="http://saebyn.info/">John Weaver</a>.<br>All Rights Reserved</span>
    </footer>
  </div> <!--! end of #container -->
    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/lib/jquery.js"><\/script>')</script>
  <script>
    window._gaq = [['_setAccount','UA-6365132-6'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
